<div class="panel panel-default" >
    <div class="panel-body">
      <form id="contact-edit" (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="row">
            <div class="col-sm-12 form-group">
                <label for="name">Name:</label>
                <input
                type="text"
                id="name"
                class="form-control required"
                size="120"
                max="120"
                name ="name"
                [ngModel]="diy?.name"
                #name="ngModel"
                required>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 form-group">
              <label for="email">Link to the project:</label>
              <input
                type="text"
                id="email"
                class="form-control required"
                size="120"
                max="255"
                name ="externalSiteURL"
                [ngModel]="diy?.externalSiteURL"
                #email="ngModel"
                required>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 form-group">
                <label for="imageUrl">Image URL:</label>
                <input
                type="text"
                id="imageUrl"
                class="form-control"
                size="150"
                max="255"
                name ="imageUrl"
                [ngModel]="diy?.imageUrl"
                #imageUrl="ngModel"
                required>
            </div>   
        </div>  
        <div class="row">
          <div class="col-xs-12 btn-toolbar">
            <button class="btn btn-success" type="submit" [disabled]="!f.valid" >Save</button>
            <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
</div>